*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    list-style-type: none;
    font-family: 'Source Sans Pro', sans-serif;
}

h2,p,a > strong{
    color: white;
    text-decoration: none;
}


/**********************************************
                INICIO NAV
**********************************************/


nav ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;
}

nav li{
    color: white;
}

nav h1{
    display: flex;
    justify-content: center;
}


/**********************************************
                FINAL NAV
**********************************************/



